<head> </head>
<div class="about">
	<h1>About PartyLine</h1>
	<hr />
	<p>
		Now more than ever it's important to stay connected with loved ones and
		friends. A study shows that adults with a healthy social life were
		healthier in old age and had a lower risk of mortality, and it's being
		discovered that in America, loneliness can cost 15 years of life
		expectancy!
	</p>
	<p>
		We care about those close to us, but it can be challenging to find time
		to keep up with what is going on in their lives. PartyLine helps you
		stay connected by automatically prompting everyone in your Party for
		updates on a set timeframe, and sending a newsletter out to each member!
	</p>
	<p>
		You define who is in your party, and can add members at any time. Just
		create your party, set a timeframe for your newsletter, and stay in
		touch with those closest to you.
	</p>
</div>
